/* Please note that we are using BEM naming convention  
   with our classes. For more information please check:
   1. https://csswizardry.com/2013/01/mindbemding-getting-your-head-round-bem-syntax/
   2. https://en.bem.info/
*/

.Nav__container {
    --Nav-bg-color-active: rgba(85, 85, 85, 0.527);
    --Nav-bg-color-on-hover: #555;
    --Nav-color: black;
    --Nav-color-on-hover: white;

    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-top: 1em;
    border-bottom: 1px solid var(--bg-color-active, --Nav-bg-color-active);
}

.Nav__link-wrapper {
    display: flex;
}

.Nav__link {
    padding: 0.5em 1em;
    color: var(--color, --Nav-color);
    text-decoration: none;
    cursor: pointer;
}

.Nav__link:hover {       
    background-color: var(--bg-color-on-hover, --Nav-bg-color-on-hover);
    color: var(--color-on-hover, --Nav-color-on-hover);    
}

.Nav--active {
    color: white;
    background-color: var(--bg-color-active, --Nav-bg-color-active);
}
